/* Your Styles Here */
:root {
    --c0: #fbffd4;
    --c1: #f7f8d0;
    --c2: #b6f880;
    --c3: #5ec72d;
    --c4: #3ea565;
    --c5: #005368;
    --c6: #003d4c;
}

header {
    padding: 1em;
    margin-bottom: 1em;
    padding-bottom: 3.5em;
    background: linear-gradient(to right, var(--c4), var(--c6));;
    color: var(--c0);
    clip-path: polygon(50% 0, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}

body {
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    animation: switchBody 10s infinite linear alternate;
}

@keyframes switchBody {
    from {
        background: var(--c0);
        color: var(--c6);
    }
    to {
        background: var(--c5);
        color: var(--c0);
    }
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

div {
    padding-right: 25%;
    padding-left: 25%;
}

img {
    border-radius: 50%;
    width: 150px;
    height: auto
}